        /*[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
          display: none !important;
        }

        img{*/
      /*background-image: url('../../wwwroot/images/giphy_loading.gif') ;*/
      /*max-width: 100%;
      min-width:200px;
      min-height:200px;
    }

        #banner {
            text-align: center;
        }

        #menu {
            position: absolute;
            top: 175px;
        }

        a:hover{
          color: darkgreen;
          text-decoration: none;
        }*/

img {
    width: 300px;
}

.highlight {
    background-color: #CCCCCC;
}

.hoverTable{
	width:50%; 
	border-collapse:collapse; 
}
.hoverTable td{ 
	padding:7px;
}
/* Define the default color for all the table rows */
.hoverTable tr{
	background-color: white;
}
/* Define the hover highlight color for the table row */
.hoverTable tr:hover {
        background-color:aliceblue;
}

